body{
    margin: 0%;
    padding: 0%;
    /* background-color:burlywood; */
    width: 100%;
    min-height: 100vh;
    display: flex;
  /* margin-top: 8%; */
  background-image:url(background.jpg) ;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.Calculator{
    /* background-color: rgba(89, 64, 78, 0.505); */
    background: #90cfff64;
    height: 75vh;
    width: 55vh;
    display: block;
flex-direction: column;
text-align: center;
border: 1px solid white;
border-radius: 7%;
box-shadow: 2px solid rgb(42, 42, 87);
}

.button-operator{
    border-radius: 60%;
    border: 1px solid white;
    margin: 15px;
    height: 7vh;
    width: 14%;
    font-size: 23px;
    cursor: pointer;
   font-family: sans-serif;
}
.button-operator:hover{
    background: white;
    box-shadow: 0px 2px 10px #ffffff75;
    transition: 0.3s;
}

.button{
    border-radius: 60%;
     margin: 15px;
     height: 7vh;
     font-size: 23px;
     width: 14%;
     color: white;
     /* background-color: black; */
         background: #09242ec8;
     cursor: pointer;
       border: 1px solid black;
  font-family: "Philosopher", sans-serif;
}
.button:hover{
 background: #06222b;
    box-shadow: 0px 2px 20px #0a3c4db1;
    transition: 0.3s;
}
.button-equal{
      border-radius: 60%;
     margin: 15px;
     height: 7vh;
     font-size: 23px;
     width: 14%;
     color: white;
     background-color:blueviolet;
     cursor: pointer;
     border: none;
}
.button-equal:hover{
    box-shadow: 0px 2px 20px rgb(42, 42, 87);
    transition: 0.3s;
}
#inputtext{
   margin: 15px;
   padding: 10px;
   border: 2px solid black;
   width: 75%;
   height: 60px;
   background: transparent;
   border: none;
   font-size: 30px;
   text-align: center;
   cursor: pointer;
}

/*----------------------------------------------------FOR RESPONSIVE-----------------------------------------------*/
@media screen and (max-width: 600px){
    .Calculator{
         height: 65vh;
    width: 42vh;
    }
    .button-operator{
           height: 7vh;
    width: 15%;
    }
    .button{
    width: 15%;
    }
    .button-equal{
        width: 15%;
    }
    #inputtext{
        margin: 10px;
        padding: 10px;
        width: 85%;
    }
}

@media (600px <= width <= 768px){
    .Calculator{
        height: 68vh;
         width: 70%;
    }
    #inputtext{
          border: 2px solid black;
             width: 85%;
    }
     .button-operator{
           height: 7vh;
    width: 17%;
    font-size: 30PX;
    }
    .button{
    width: 17%;
    font-size: 30PX;
    }
    .button-equal{
        width: 17%;
         font-size: 30PX;
    }
}

@media (768px <= width <= 992px){
    .Calculator{
         height: 78vh;
         width: 55%;
    }
    #inputtext{
          border: 2px solid black;
             width: 85%;
    }
     .button-operator{
           height: 9vh;
    width: 17%;
      font-size: 35px;
    }
    .button{
    width: 17%;
      height: 9vh;
      font-size: 35px;
    }
    .button-equal{
        width: 17%;
          height: 9vh;
            font-size: 35px;
    }
}

@media (992px <= width <= 1200px){
     .Calculator{
         height: 78vh;
         width: 45%;
    }
     #inputtext{
          border: 2px solid black;
             width: 85%;
    }
    .button-operator{
           height: 9vh;
    width: 16%;
      font-size: 30px;
    }
    .button{
    width: 16%;
      height: 9vh;
      font-size: 30px;
    }
    .button-equal{
        width: 16%;
          height: 9vh;
            font-size: 30px;
    }
}