body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    min-height: 100vh;
    display: flex;
  background-image:url(background.jpg) ;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.Calculator{
    background: #90cfff64;
    height: 73vh;
    width: 25%;
    display: block;
text-align: center;
border: 1px solid white;
border-radius: 7%;
 box-shadow: 0 4px 20px rgba(42,42,87,0.35); 

}

.button-operator{
    border-radius: 60%;
    border: 1px solid white;
    margin: 15px;
    height: 7vh;
    width: 14%;
    font-size: 23px;
    cursor: pointer;
   font-family: sans-serif;
}
.button-operator:hover{
    background: white;
    box-shadow: 0px 2px 10px #ffffff75;
    transition: 0.3s;
}

.button{
    border-radius: 60%;
     margin: 15px;
     height: 7vh;
     font-size: 23px;
     width: 14%;
     color: white;
         background: #09242ec8;
     cursor: pointer;
       border: 1px solid black;
  font-family: "Philosopher", sans-serif;
}
.button:hover{
 background: #06222b;
    box-shadow: 0px 2px 20px #0a3c4db1;
    transition: 0.3s;
}
.button-equal{
      border-radius: 60%;
     margin: 15px;
     height: 7vh;
     font-size: 23px;
     width: 14%;
     color: white;
     background-color:blueviolet;
     cursor: pointer;
     border: none;
}
.button-equal:hover{
    box-shadow: 0px 2px 20px rgb(42, 42, 87);
    transition: 0.3s;
}
#inputtext{
   margin: 15px;
   padding: 10px;
   width: 75%;
   height: 60px;
   background: transparent;
   border: none;
   font-size: 30px;
   text-align: center;
   cursor: pointer;
}

/*----------------------------------------------------FOR RESPONSIVE-----------------------------------------------*/
/* 320px–600px: general small screens */
@media screen and (min-width: 320px) and (max-width: 600px) {
  .Calculator {
    /* height: 75vh;
    width: 82%; */
    height: auto;
    width: auto;
  }
  .button-operator {
    height: 7vh;
    width: 15%;
  }
  .button {
    width: 15%;
  }
  .button-equal {
    width: 15%;
  }
  #inputtext {
    /* margin: 10px;
    padding: 10px; */
    width: 85%;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px){
    .Calculator{
        height: 88vh;
          width: 55%;
    } 
     #inputtext{
          border: 2px solid black;
             width: 75%;
    }
     .button-operator{
           height: 9vh;
    width: 15%;
    font-size: 25px;
    }
    .button{
            height: 9vh;
    width: 15%;
    font-size: 25px;
    }
    .button-equal{
            height: 9vh;
        width: 15%;
         font-size: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .Calculator{
         height: 88vh;
         width: 55%;
    }
    #inputtext{
          border: 2px solid black;
             width: 85%;
    }
     .button-operator{
           height: 9vh;
    width: 15%;
      font-size: 25px;
    }
    .button{
    width: 15%;
      height: 9vh;
      font-size: 25px;
    }
    .button-equal{
        width: 15%;
          height: 9vh;
            font-size: 25px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
     .Calculator{
         height: 88vh;
         width: 45%;
    }
     #inputtext{
          border: 2px solid black;
             width: 75%;
    }
    .button-operator{
           height: 9vh;
    width: 15%;
      font-size: 25px;
    }
    .button{
    width: 15%;
      height: 9vh;
      font-size: 25px;
    }
    .button-equal{
        width: 15%;
          height: 9vh;
            font-size: 25px;
    }
}    
